<!DOCTYPE html>
<html>
  <head>
    <title>TinderClone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <%= render 'layouts/nav' unless account_signed_in? %>
    
    <!-- <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p> -->

    <div class="container-fluid p-0 bg-light">
      <%= yield %>
    </div>
    <%= render 'layouts/footer' unless account_signed_in? %>
  </body>
</html>
